.foto-perfil{
  border-radius: 100%;
  width: 135px;
  height: 135px;
  margin: 20px;
}
.header-perfil{
  text-align: center;
  display: flex;
  flex-direction: row;

}

.op-perfil{
  margin: auto;
  display: flex;
  flex-direction: column;
}
